<div class="jumbotron bg-white rounded-0 mb-0">
    <div class="container">
        <h1 class="display-4">What is Zakat al-mal?</h1>
        <p class="lead">Linguistically, Zakat is associated with purification and growth. In Islamic law, Zakat is a compulsory act of worship that requires Muslims who own wealth at or above a certain threshold (called the Nisab) to pay a portion of that wealth, typically 2.5%, to those who are eligible.</p>
    </div>
</div>

<div class="jumbotron bg-dark text-white rounded-0 mb-0">
    <div class="container">
        <h1 class="display-4">Who receives Zakat?</h1>
        <p class="lead">
            To be eligible to receive zakat, the recipient must be poor and/or needy. A poor person is someone whose property, in excess of his basic requirements, does not reach the nisab threshold.

            The recipient must not belong to your immediate family; your spouse, children, parents and grandparents cannot receive your zakat. Other relatives, however, can receive your zakat.
        </p>
        <blockquote class="blockquote text-success">“Indeed, Zakat expenditures are only for [1] the poor and [2] the needy, and [3] to those who work on [administering] it, and [4] for bringing hearts together, and [5] to [free] those in bondage, and [6] for those in debt, and [7] for the cause of God, and [8] for the stranded traveller. [This is] an obligation from God. God is All-Knowing, All-Wise.”
            <footer class="blockquote-footer">
                <strong>Qur’an, Chapter 9, Verse 60<strong></footer>
        </blockquote>
    </div>
</div>

<div class="jumbotron bg-white rounded-0 mb-0">
    <div class="container">
        <h1 class="display-4">Who pays Zakat?</h1>
        <p class="lead">Those required to pay Zakat must be:
            - Adult (have reached puberty)
            - Muslim (Zakat is not paid by non-Muslims)
            - Sane
            Please note that the three schools of jurisprudence other than the Hanafi school state that Zakat should be paid on qualifying wealth owned by those who do not have mental capacity and children.</p>
        <p class="lead">
            <strong>Complete ownership of wealth</strong><br>
            Complete ownership refers to having ownership and the ability to benefit from a Zakatable asset. It is not necessary to have direct possession; one may have indirect possession such as having cash deposited in the bank or money kept with a relative. This is agreed upon by the mainstream schools of jurisprudence.
        </p>
        <p class="lead">
            <strong>
                Asset is productive</strong><br>
            Zakat is binding on wealth which is productive according to all four schools of jurisprudence.
            Productivity in terms of Zakat refers to the potential of an asset to grow and increase. Productivity of an asset can be intrinsic as is the case with gold, silver and cash. Productivity can be activated by an intention to trade when purchasing stock or investing into Zakatable assets. And finally, productivity can be established through the breeding of flock.
            <br>Besides these three causes, the Sharia has not recognised any other cause of productivity. Personal assets and belongings which may appreciate will not be Zakatable despite growing in value as they are not productive wealth in Zakat terms.
        </p>
    </div>
</div>

<div class="jumbotron bg-dark text-light rounded-0 mb-0">
    <div class="container">
        <h1 class="display-4">When is Zakat paid?</h1>
        <p class="lead"><strong>Zakat is an annual obligation due once every lunar year. Your Zakat year starts on the date your wealth first equalled or exceeded the Nisab, to be paid on the same day as per the lunar calendar. Zakat should then be calculated and paid after one lunar year has passed and every year thereafter on that date.</strong></p>
        <p class="lead">If you cannot remember the date you first became owner of the Nisab, then the date should be estimated. If this is not possible, then a specific Islamic date should be selected arbitrarily and adhered to annually.</p>
        <%= image_tag "zcp-001.png", class: "img-fluid" %>
    </div>
</div>

<div class="jumbotron bg-white rounded-0 mb-0">
    <div class="container">
        <h1 class="display-4">What is Nisab?</h1>
        <p class="lead"><strong>Nisab is a minimum threshold of wealth.</strong></p>
        <p class="lead">The Nisab was set by the Prophet Muhammad (peace be upon him) at a rate equivalent to: 87.48 grams of gold 612.36 grams of silver. For the payment of Zakat to be obligatory, it must equal or exceed the Nisab threshold on the Zakat anniversary.</p>
    </div>
</div>