<div class="jumbotron mb-0  rounded-0 text-center">
  <h1 class="display-3">I'm ready to work out my Zakat!</h1>
  <p class="lead">Working out your Zakat isn’t always easy. Use our step-by-step calculator to make sure you get it right. </p>
  <p class="lead">
    <a class="btn btn-dark btn-lg" href="/about" role="button">Learn about how Zakat al-mal is calculated </a>
  </p>
</div>
<div class="container py-5">
  <div class="row">
    <%= render 'zakat_form', payment: @payment %>

    <%= link_to 'Back', '/my_payments' %>
  </div>
</div>

<%= javascript_pack_tag 'zakat-calc' %>