<div class="jumbotron mb-0  rounded-0 text-center">
    <h1 class="display-3">I'm ready to work out my Zakat!</h1>
    <p class="lead">Working out your Zakat isn’t always easy. Use our step-by-step calculator to make sure you get it right. </p>
    <p class="lead">
        <a class="btn btn-dark btn-lg" href="/about" role="button">Learn about how Zakat al-mal is calculated </a>
    </p>
</div>
<div class="row">
    <%# <div class="col"></div> %>
    <div class="col-md-12">
        <%# <div class="bg-dark mb-0">
            <p class="lead text-light">nISAB IS AT 1,300,000</p>
        </div> %>
        <!-- Nav tabs -->
        <ul id="zakat-calc" class="nav nav-tabs nav-justified bg-dark text-light  border-top border-dark mt-0">
            <li class="nav-item border-none">
                <a class="nav-link active border-none" data-toggle="tab" href="#home">
                    <h5>1. My Cash</h3>
                </a>
            </li>
            <li class="nav-item rounded-0">
                <a class="nav-link" data-toggle="tab" href="#menu1">
                    <h5>2. Money owed to me</h3>
                </a>
            </li>
            <li class="nav-item rounded-0">
                <a class="nav-link" data-toggle="tab" href="#menu2">
                    <h5>3. My business assets</h3>
                </a>
            </li>
            <li class="nav-item rounded-0">
                <a class="nav-link" data-toggle="tab" href="#menu3">
                    <h5>4. Money I owe</h3>
                </a>
            </li>
            <li class="nav-item rounded-0">
                <a class="nav-link" data-toggle="tab" href="#menu4">
                    <h5>Result</h5>
                </a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content py-3  border-none">
            <div class="tab-pane container active" id="home">
                <p class="lead">Enter the amount of cash you have including money in your bank account(s).</p>
                <%= render  "zakat_form" %>
                <%# <a name="" id="" class="btn btn-dark btn-lg" data-toggle="tab" href="#menu1" role="button">Next Step &rarr;</a> %>
            </div>
            <div class="tab-pane container fade" id="menu1">
                <p class="lead">If you are owed money and are confident it will be repaid, or you’ve sold something and are due to receive payment, you need to pay Zakat on these amounts.</p>
                <%= render  "zakat_form" %>
            </div>
            <div class="tab-pane container fade" id="menu2">
                <p class="lead">Business assets including cash, goods, work in progress, raw materials and outstanding payments which are likely to be paid, are all subject to Zakat.</p>
                <%= render  "zakat_form" %>
            </div>
            <div class="tab-pane container fade" id="menu3">
                <p class="lead">Enter any money you owe or bills you are due to pay.</p>
                <%= render  "zakat_form" %>
            </div>
            <div class="tab-pane container fade" id="menu4">
                <p class="lead"><strong>All done!</strong> <br>
                    Here's a summary of the information you've provided and how much Zakat you need to give.</p>
                <table class="table table-dark table-striped table-bordered">
                    <thead>
                        <tr>
                            <th colspan=2>
                                <h5 class="text-success text-center">Zakatable assets (What you own)</h5>
                            </th>
                        </tr>
                        <tr>
                            <th>Type</th>
                            <th>Value n Ugx</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan=2 class="text-success">My Cash </td>
                        </tr>
                        <tr>
                            <td>Cash At Hand</td>
                            <td>1,000,000</td>
                        </tr>
                        <tr>
                            <td>Cash In Bank</td>
                            <td>1,000,000</td>
                        </tr>

                        <tr>
                            <td colspan=2 class="text-success">Money owed to me </td>
                        </tr>
                        <tr>
                            <td>Cash At Hand</td>
                            <td>1,000,000</td>
                        </tr>
                        <tr>
                            <td>Cash In Bank</td>
                            <td>1,000,000</td>
                        </tr>


                        <tr>
                            <td colspan=2 class="text-success">My Business Assets </td>
                        </tr>
                        <tr>
                            <td>Cash At Hand</td>
                            <td>1,000,000</td>
                        </tr>
                        <tr>
                            <td>Cash In Bank</td>
                            <td>1,000,000</td>
                        </tr>
                        <tr>
                            <td colspan=2 class="text-success"><span class="float-right">Sub Total: <em>6,000,000</em></span></td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-dark table-striped table-bordered">
                    <thead>
                        <tr>
                            <th colspan=2>
                                <h5 class="text-success text-center">Deductible liabilities (What you owe)</h5>
                            </th>
                        </tr>
                        <tr>
                            <th>Type</th>
                            <th>Value n Ugx</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td colspan=2 class="text-success">Money I owe </td>
                        </tr>
                        <tr>
                            <td>Debts</td>
                            <td>1,000,000</td>
                        </tr>
                        <tr>
                            <td>Bills</td>
                            <td>1,000,000</td>
                        </tr>
                        <tr>
                            <td>Other</td>
                            <td>1,000,000</td>
                        </tr>
                        <tr>
                            <td colspan=2 class="text-success"><span class="float-right">Sub Total: <em>1,000,000</em></span></td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-dark table-striped table-bordered">
                    <thead>
                        <tr>
                            <th colspan=2>
                                <h5 class="text-success text-center">Zakat calculation (2.5% of the result)</h5>
                            </th>
                        </tr>
                        <tr>
                            <th>Type</th>
                            <th>Value n Ugx</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> Current Nisab Value</td>
                            <td>1,300,000</td>
                        </tr>
                        <tr>
                            <td>Total Income after after Nisab Adjustment</td>
                            <td>1,000,000</td>
                        </tr>
                        <tr>
                            <td colspan=2 class="text-success"><span class="float-right">Total Zakat to be Collected: <em>1,000,000</em></span></td>
                        </tr>
                    </tbody>
                </table>

                <button type="button" class="btn btn-outline-dark btn-lg btn-block">Click me to pay Zakat with with this platform</button>
            </div>
        </div>
    </div>
    <%# <div class="col"></div> %>
</div>
<div class=" py-1">

</div>