// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#zakat-calc {
    li {
        border-radius: 0em;
        border: 0px;
        a {
            border-radius: 0em;
            color: #28a745;
            border: none;
        }
        .active {
            color: black;
            background-color: #28a745;
        }
    }
}